.event-container {
    margin-top: 20px;
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-card {
    height: 100%;
}

.event-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.event-description {
    margin-bottom: 10px;
}

.event-company {
    color: #777;
    margin-bottom: 5px;
}

.event-details {
    color: #555;
    margin-bottom: 5px;
}

.event-capacity {
    color: #777;
    font-size: 14px;
}
