.link {
    text-decoration: none;
}

.card {
    cursor: pointer;
    max-height: 370px;
    min-height: 370px;
    overflow: auto;
}

.title {
    font-weight: bold;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.tags {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
}

.chip {
    margin-right: 5px;
    margin-bottom: 5px;
}

.description {
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 50px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: bold;
    font-size: 14px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-info {
    margin: 0 10px;
}