.card {
    cursor: pointer;
    max-height: 370px;
    min-height: 370px;
    overflow: auto;
}

.title {
    font-weight: bold;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.description {
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 50px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.info {
    margin-top: 10px;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}